<!DOCTYPE html>
<html {template.html.attribute} lang="en">
    <!--{template.html.append}-->
    <head {template.head.attribute}>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><!--{template.app.title}--></title>
        <link rel="stylesheet" href="/pkg/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/pkg/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/resources/scss/template-base-app.css" />
        <!--{template.head.append}-->
    </head>
    <!--https://stackoverflow.com/questions/40497288/how-to-create-a-fixed-sidebar-layout-with-bootstrap-4-->
    <body {template.body.attribute}>
        <!--{template.body.append}-->
        <header class="base-app-header">
            <!--{template.app.header}-->
        </header>
        <main class="base-app-main">
            <!--{template.app.menu}-->
            <div class="base-app-main-content">
                <!--{template.app.content}-->
                <!--{template.app.content.form}-->
                <!--{template.app.content.filter}-->
                <!--{template.app.content.list}-->
            </div>
        </main>
        <!--{template.foot.append}-->
        <form id="autogen-form-action" method="post" class="hidden">
            <input id="autogen-form-action-input-action" type="hidden" name="action" />
            <input id="autogen-form-action-input-param" type="hidden" name="param" />
        </form>
        <div id="autogen-modal" aria-hidden="true">></div>
        <script src="/pkg/jquery/dist/jquery.min.js"></script>
        <script src="/assets/js/template-base-app.js"></script>
        <script src="/pkg/popper.js/dist/umd/popper.min.js"></script>
        <script src="/pkg/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
